:root {
    --My-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.2fr 0.5fr 0.5fr 0.3fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "banner banner banner banner"
    
    ;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

.header {
    align-items: center;
    display: grid;
    background-color: brown;
    grid-area: header;
    padding: var(--My-padding);
}

.menu {
    align-items: center;
    display: grid;
    background-color: black;
    grid-area: menu;
    padding: var(--My-padding);
}

.hero {
    align-items: center;
    display: grid;
    background-color: pink;
    grid-area: hero;
    padding: var(--My-padding);
}

.main {
    align-items: center;
    display: grid;
    background-color: red;
    grid-area: main;
    padding: var(--My-padding);
}

.image {
    align-items: center;
    display: grid;
    background-color: orange;
    grid-area: image;
    padding: var(--My-padding);
}

.extra {
    align-items: center;
    display: grid;
    background-color: green;
    grid-area: extra;
    padding: var(--My-padding);
}

.banner {
    align-items: center;
    display: grid;
    background-color: purple;
    grid-area: banner;
    padding: var(--My-padding);
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 2.5fr 1fr;
        grid-template-rows: 0.3fr 1fr 1.3fr 0.5fr 0.4fr;
        grid-template-areas: 
        "header header header"
        "hero hero hero"
        "menu main main"
        "menu banner banner"
        "menu extra image"
        
        
        ;
    }
    
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.5fr 1fr 1.5fr 0.6fr 0.6fr 0.6fr;
        grid-template-areas: 
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        ;
    }
}